@using Com.WIC.BusinessLogic.Models
@using Com.WIC.Client.Web.Controllers
@using Microsoft.AspNetCore.Mvc
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This application lets you practice words you need to rehearse in complete sentences, which were found in online books.</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => Model.RecaptchaResponse, new { id = "g-recaptcha-response" })
            await Html.RenderPartialAsync("_KeywordSearchField", Model);
            @Html.CheckBoxFor(x => Model.ShowSentenceEntry, new { id = "showsentenceentry" }) <label for="showsentenceentry">Enter a whole sentence</label>
            <div class="@(Model.ShowSentenceEntry ? string.Empty : "d-none")" id="sentenceentry">
                @Html.TextAreaFor(x => Model.SentencesToSpeak, new { maxlength = 255, placeholder = "Enter the word to practice", @class = "form-control" })
                <button class="btn btn-primary mt-3" type="submit">Let me hear it</button>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <p class="alert alert-danger">@Model.ErrorMessage</p>
        }
    </div>
