@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @*<p style="display:none;">@ViewBag.ttt</p>
        <p style="display:none;">@ViewBag.ttt1</p>*@
        @using (Html.BeginForm())
        {
            <div class="input-group mb-3">
                @Html.TextBoxFor(x => Model.Keyword, new { required = string.Empty, placeholder = "Enter the word to practice", @class = "form-control" })
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Make my mp3</button>
                </div>
            </div>
        }
        @if (Model.Results != null && Model.Results.Count() > 0)
        {
            <h2>Results:</h2>
            @foreach (var r in Model.Results)
            {
                <p>@r</p>
            }
            @if (!string.IsNullOrWhiteSpace(Model.AudioFile))
            {
                <audio controls src="@Model.AudioFile" type="audio/ogg"></audio>
            }
        }
    </div>
